header{
    background-color: #2e3047;
    padding-bottom: 1%;
    
}

body{
    background-color: #43455c;
}

#m1{
    background-color: #43455c ;
    color: #3bba9c;
    font-size: 18px;
}

a{
    color: #65ccb8;
    transition: 0.3s;
}
a:hover{
    color: antiquewhite;
    font-size: 18px;
}

#img1{
    float: right;
}

#head{
    color: #57ba98;
}