header{
    background-color: #2e3047;
    padding: 1%;
    border-radius: 10px;
}

body{
    background-color: #43455c;
}

#m1{
    background-color: #43455c ;
    color: #3bba9c;
    font-size: 18px;
}

a{
    color: #65ccb8;
    transition: 0.3s;
}
a:hover{
    color: antiquewhite;
    font-size: 18px;
    
}

#img_lnk{
    transition: 0.3s;
}

#img_lnk:hover{
    height: 70px;
}

button{
    background-color: #65ccb8;
    color: #2e3047;
    transition: 0.3s;
}

button:hover{
    color: antiquewhite;
    font-size: 18px;
}

#img1{
    margin: 10px;
    padding: 1%;
    border: 2px solid #3bba9c;
}

#img2{
    padding: 1%;
    box-shadow: 10px 10px 10px rgb(46, 44, 44);
    transition: 0.3s;
}

#img2:hover{
    height: 210px;
}

#head_info{
    color: #65ccb8;
}

#div1{
    background-color: #2e3047;
    color: #57ba98;
    height: 400px;
    width: 500px;
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}

input{
    height: 30px;
    width: 300px;
    background-color: #65ccb8;
}

::placeholder{
    color: #2e3047;
}

textarea{
    background-color: #65ccb8;
}
hr {
    height: 1px;
    background-color: #65ccb8;
    border: none;
}

table{
    border: 2px solid #3bba9c;
}

tr,th,td{
    border: 2px solid #3bba9c;
    padding: 10px;
}
