@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-section {
    padding: 100px 0;
    background-color: #f9f9f9;
    height: 100vh;
}
.contact-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background-color: #f8b384c7;
}

.contact-section{
    background-image: url(/Images/8658254.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

::placeholder{
    font-size: 18px;
}